<%- include("../../partials/header.ejs")%>

<%- include("../../partials/navbar.ejs")%>

<div class="container mt-3">
    <div class="card">
        <div class="card-header">
            <h2 class="mt-3">Novo artigo:</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/articles/save" class="mt-1">
                <input class="form-control" type="text" name="title" placeholder="Adicione aqui o título do artigo"><br>
                <textarea name="body" id="article" class="form-control mt-3"
                    placeholder="Escreva aqui o artigo"></textarea>
                <label for="category" class="mt-3">Categoria</label>
                <select name="category" class="form-control">
                    <% categories.forEach((category)=>{ %>
                    <option value="<%= category.id %>"><%= category.title %></option>
                    <% }) %>
                </select>
                <button class="btn btn-success mt-3">Registar</button>
            </form>
        </div>
    </div>
</div>

<%- include("../../partials/footer.ejs")%>

<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: 'pt_PT',
        selector: "#article",
        plugins: [
            "advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons"
        ]
    });
</script>